---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="my-24 max-w-7xl mx-auto px-4">
    <h1 class="text-3xl font-bold mb-8 divider divider-primary">About</h1>
    <div class="faq-item">
      <h2 class="text-xl font-semibold">What is the accounts for?</h2>
      <p class="mt-2">
        Some of my projects offer login functionality. One account should
        suffice for all the stuff hosted on this page.
      </p>
    </div>
  </main>
</Layout>
