---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="h-screen flex">
      <h1 class="text-6xl">
        <span class="font-bold">Hi!</span> My name is Alvin.
      </h1>
    </section>
  </main>
</Layout>

<style></style>
