---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Projects">
  <section>
    <h1>Projects</h1>
    <h2>Web Development</h2>
    <article>
      <h3>Fake Overflow</h3>
    </article>
    <article>
      <h3>Pokemon Simulator</h3>
    </article>
    <h2>Game Development</h2>
  </section>
</Layout>
