---
import Layout from "@/layouts/Layout.astro";
import { Content } from "@/content/projects.md";
---

<Layout title="Projects">
  <section
    class="mt-4 prose dark:prose-invert md:prose-lg lg:prose-xl dark:prose-blockquote:text-gray-300"
  >
    <Content />
  </section>
</Layout>
