---
import { Button } from "./ui/button";
---

<section class="h-screen flex justify-center items-center">
  <div class="flex flex-col gap-4">
    <h1 class="text-6xl">
      <span class="font-bold block text-purple-700 dark:text-purple-400"
        >Hi!</span
      >My name is Alvin.
    </h1>
    <p class="p-1 text-xl">
      Aspiring <span class="text-purple-700 dark:text-purple-300"
        >computer scientist</span
      > and
      <span class="text-purple-700 dark:text-purple-300">software engineer</span
      >,<span class="md:block">
        crafting innovative solutions from code to user experience.</span
      >
    </p>
    <div class="w-full flex justify-between">
      <Button variant={"link"}
        ><a class="text-xl" href="/about">About Me</a></Button
      >
      <Button variant={"link"}
        ><a class="text-xl" href="/projects">Projects</a></Button
      >
      <Button variant={"link"}
        ><a class="text-xl" href="https://github.com/alkmei/">Github</a></Button
      >
      <Button variant={"link"}
        ><a class="text-xl" href="https://www.linkedin.com/in/alvinmei/"
          >LinkedIn</a
        ></Button
      >
    </div>
  </div>
</section>
