---
import Github from "../assets/github.svg";
import LinkedIn from "../assets/linkedin.svg";
---

<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hi, I'm Alvin</h1>
      <p class="py-6">I love to architect projects and code.</p>
      <a class="btn btn-primary" href="#projects">Projects</a>
      <a class="btn btn-secondary ml-2" href="https://github.com/alkmei"
        ><Github width={16} /> Github</a
      >
      <a
        class="btn btn-secondary ml-2"
        href="https://www.linkedin.com/in/alvinmei"
        ><LinkedIn width={16} /> LinkedIn</a
      >
    </div>
  </div>
</div>
