---
import { Icon } from "astro-icon/components";
---

<section class="hero bg-base-200 h-screen min-h-[50rem]">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold font-logo text-primary">Hi, I'm Alvin!</h1>
      <p class="py-6 text-lg">
        I'm a NYC-based software engineer who builds solutions. I specialize in
        backend development, both with heavy-duty frameworks and minimal,
        lightweight tools.
      </p>

      <div class="flex flex-wrap justify-center gap-2">
        <a
          class="btn btn-secondary"
          href="https://github.com/alkmei"
          aria-label="Visit my Github profile"
        >
          <Icon name="tabler:brand-github-filled" aria-hidden="true" /> Github
        </a>

        <a
          class="btn btn-secondary"
          href="https://www.linkedin.com/in/alvinmei"
          aria-label="Visit my LinkedIn profile"
        >
          <Icon name="tabler:brand-linkedin-filled" aria-hidden="true" /> LinkedIn
        </a>
      </div>
    </div>
  </div>
</section>
